{% include "header.html" %}

<div class="img-gallery">
  <img
    src="media/{{ data.1.img_name }}"
    alt="WallPaper"
    class="wallpaper"
    srcset=""
  />
  <div class="title-tag">
    <h1 class="tagline">Eat Delecious Food, Incredible Health</h1>
    <button type="submit" class="btn">Let's Buy</button>
  </div>
</div>

<div class="item-show">
  {% for item in items %}
  <div class="item item{{ forloop.counter }}">
    <div class="img-item">
      <img src="media/{{ item.0.img_name }}" alt="" />
    </div>
    <div class="item-desc">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
        explicabo praesentium voluptatum sit aliquam veritatis eius, molestias
        fugiat rem dolor ex ratione vitae perspiciatis nihil porro sapiente a
        totam maxime!
      </p>
    </div>
  </div>
  {% endfor %}
</div>

<div class="items-slide">
  <img src="media/{{ data.2.img_name }}" alt="" srcset="" />
  <h1 id="text">
    Food is calling, the table's waiting. <br />Let's dine, let's fill our
    hearts and plates.
  </h1>
</div>

<div class="contactPage" id="contact">{% include "contact.html" %}</div>

{% include "footer.html" %}
