{% include "header.html" %}

<div class="items-body" id="item-body">
  <div class="choices">
    <h2>Make Your Choice</h2>
    <div class="check-choice">
      <form action="sort_items" method="post">
        {% csrf_token %}
        <div class="choice">
          <input
            type="checkbox"
            onclick="show_data({{ json_data }})"
            id=""
            name="non-veg"
          />
          <label for="non-veg">Non-Vgg</label>
        </div>
        <div class="choice">
          <input
            type="checkbox"
            onclick="show_data({{ json_data }})"
            id=""
            name="veg"
          />
          <label for="veg">Vgg</label>
        </div>
        <hr />
        <div class="choice">
          <input
            type="checkbox"
            onclick="show_data({{ json_data }})"
            id=""
            name="dessert"
          />
          <label for="dessert">Dessert</label>
        </div>
        <div class="choice">
          <input
            type="checkbox"
            onclick="show_data({{ json_data }})"
            name="rice"
            id=""
          />
          <label for="rice">Rice</label>
        </div>
        <div class="choice">
          <input
            type="checkbox"
            onclick="show_data({{ json_data }})"
            id=""
            name="breakfast"
          />
          <label for="breakfast">Breakfast</label>
        </div>
        <div class="choice">
          <input
            type="checkbox"
            onclick="show_data({{ json_data }})"
            id=""
            name="snacks"
          />
          <label for="snacks">Snacks</label>
        </div>
        <button class="btn" type="submit">Apply</button>
      </form>
    </div>
  </div>
  <div class="items">
    {% for elem in items %} {% if elem|length > 0 %} {% for item in elem %}

    <div class="item-id">
      <img
        src="media/{{ item.img_name }}"
        alt="{{ item.name }}"
        loading="lazy"
      />
      <h2 class="item-detail">{{ item.name }}</h2>

      <h3 class="item-detail">Price: {{ item.price }}</h3>
      <h4 class="item-detail">Rating: {{ item.rating }}</h4>
      <div class="links">
        <a
          href="#"
          onclick="popup('{{ item.name }}','{{ item.description }}', '{{ item.img_name }}', {{ item.price }}, '{{ item.rating }}')"
          >Details</a
        >
        <a href="#">Add</a>
      </div>
    </div>
    {% endfor %} {% else %}
    <div class="no_items">
      <h3>No Items Found</h3>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>

<div class="item-id popup" id="popup"></div>

{% include "footer.html" %}
