@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merienda:wght@300..900&display=swap");

:root {
  --navColor: orange;
  --font-fam: Merienda;
}

body {
  margin: 0;
}

nav {
  width: 80%;
  height: 4rem;
  background-color: var(--navColor);
  display: flex;
  align-items: center;
  padding: 6px;
  justify-self: center;
  justify-content: space-evenly;
  border-radius: 25px;
  margin-top: 10px;
  position: sticky;
  z-index: 1;
}

ul {
  display: flex;
  justify-content: end;
}

ul li {
  list-style: none;
}

li > a {
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  margin: 10px;
}

a > i {
  font-size: 22px !important;
  margin: 3px;
}

.img-gallery {
  width: 100%;
  height: 500px;
  justify-items: center;
  align-content: center;
}

.wallpaper {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 0;
  margin: 0;
  background-color: gray;
  position: fixed;

  opacity: 0.7;
  mix-blend-mode: multiply;
}

.title-tag {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
}

.tagline {
  z-index: 1;
  color: white;
  font-size: 55px;
  letter-spacing: 1.5;
  font-weight: bolder;
  text-shadow: 3px 3px 3px gray;
}
.btn {
  width: 200px;
  height: 70px;
  padding: 10px;
  font-size: 30px;
  color: white;
  background-color: var(--navColor);
  border: 2px solid white;
  border-radius: 30px;
  font-weight: bolder;
  z-index: 1;
  cursor: pointer;
  transition: ease-in-out 1s;
}

.btn:hover {
  transform: scale(1.3);
  border-color: transparent;
}

.item-show {
  width: 100%;
  height: 1000px;
  position: relative;
  justify-items: center;
  align-items: center;
  background-color: white;
  font-family: var(--font-fam);
}
.item {
  display: flex;
  width: 80%;
  position: relative;
  top: 2rem;
}
.img-item {
  background-color: var(--navColor);
  width: 40rem;
  height: 26rem;

  justify-items: center;
  align-content: center;
  text-align: center;
  animation: shapeChanger 1s alternate infinite;
}

.img-item > img {
  width: 20rem;
  height: 20rem;
  border-radius: 25%;
  animation: imgZoom 1s infinite alternate-reverse;
}

@keyframes shapeChanger {
  from {
    border-radius: 42% 58% 41% 59% / 73% 76% 24% 27%;
  }
  to {
    border-radius: 33% 67% 57% 43% / 28% 19% 81% 72%;
  }
}

@keyframes imgZoom {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.item2 {
  flex-direction: row-reverse;
}

.item-desc {
  text-align: center;
  align-items: center;
  justify-items: center;
  display: flex;
  margin: 1rem;
  padding: 1.5rem;
}

.item-desc > p {
  text-align: justify;
  white-space: normal;
  font-size: 25px;
}

.items-slide {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: rgb(188, 178, 178);
}

.items-slide img {
  position: relative;
  width: 100%;
  height: 500px;
  mix-blend-mode: multiply;
}

.items-slide h1 {
  position: absolute;
  top: 40%;
  left: 5%;
  text-align: center;
  margin: 0;
  font-size: 35px;
  font-family: var(--font-fam);
  color: white;
  animation: wordsAnime 2s ease-in-out infinite;
}

@keyframes wordsAnime {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.contactPage {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: white;
  background-blend-mode: overlay;
  justify-items: center;
  align-content: center;
}
.contact {
  position: relative;
  width: 80%;
  height: 90%;
  justify-items: center;
  align-content: center;
  mix-blend-mode: multiply;
  background-color: var(--navColor);
  border: 2px solid white;
  border-radius: 50px;
  padding: 10px;
}

.contact h2 {
  font-family: var(--font-fam);
  font-size: 35px;
  margin: 10px 0px;

  color: white;
}

.contact > .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  border-radius: 50px;
  box-shadow: 5px 5px 5px 3px rgba(43, 38, 28, 0.5);
  position: relative;
}

.form input,
textarea,
button {
  display: block;
  width: 100%;
  height: 2rem;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  font-size: 20px;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
}

.btn1 {
  width: 25%;
  height: 17%;
  background-color: white;
  padding: 10px 0px;
  border: none;
  border-radius: 50px;
  font-size: 24px;
  font-weight: bolder;
  border: 2px solid transparent;
  color: var(--navColor);
  font-family: var(--font-fam);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.btn1:hover {
  border: 2px solid var(--navColor);
  font-size: 30px;
}
.btn1:active {
  transform: scale(1.2);
}
.form-data > input:focus,
.form-data > input:valid,
.form-data > textarea:focus {
  outline: none;
}
.form-data {
  position: relative;
  width: 80%;
  padding: 10px;
  margin: 10px;
}
.form-data > label {
  position: absolute;
  top: 5px;
  width: 80%;
  color: white;
}

.form-data label span {
  display: inline-block;
  min-width: 5px;
  font-size: 18px;
  transition: 0.3s cubic-bezier(0.68, -1.5, 0.55, 1.3);
  font-family: var(--font-fam);
}

.form-data input:focus + label span,
.form-data textarea:focus + label span {
  transform: translateY(-30px);
}

footer {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  background-color: var(--navColor);
  height: 80px;
  padding-top: 10px;
}
footer .social {
  text-align: center;
  justify-content: space-evenly;
}
footer i {
  color: white;
  font-size: 40px;
  margin: 5px;
  cursor: pointer;
  transition: 500ms ease-in-out;
}
footer i:hover {
  transform: translateY(-10px);
}
footer h5 {
  position: absolute;
  top: 25px;
  left: 85%;
  color: white;
}

/* Items Page */

.search_optn {
  width: 80%;
  height: 30%;
  position: relative;
  padding: 10px;
  margin: 10px 0px;
  justify-self: center;
}
.search_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search_form input {
  width: 70%;
  height: 30px;
  font-family: var(--font-fam);
  border-radius: 25px;
  border: 2px solid var(--navColor);
  padding: 5px;
}
.search_form input:focus {
  outline-color: var(--navColor);
}
.search_form .search_btn {
  width: 18%;
  height: 20%;
  border: 2px solid transparent;
  margin-left: 5px;
}
.search_btn:hover {
  font-size: 24px;
  background-color: var(--navColor);
  color: white;
}
.items-body {
  display: grid;
  grid-template-columns: 300px auto;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-id {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 400px;
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 30px;
  background-color: var(--navColor);
  position: relative;
}
.apply_btn {
  width: 150px;
  font-family: var(--font-fam);
}
.apply_btn:hover {
  transform: scale(1.1);
}
.item-id img {
  width: 100%;
  height: 50%;
  border-radius: 30px;
  transition: 2s ease-in-out;
}

.item-id .item-detail {
  margin: 10px;
}
.item-detail {
  color: white;
  font-family: var(--font-fam);
  font-weight: bolder;
}

.links > a {
  text-decoration: none;
  color: var(--navColor);
  font-family: var(--font-fam);
  font-weight: bolder;
  border: 2px solid white;
  background-color: white;
  padding: 10px;
  width: 70px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
}
.choices {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 10px;
  border-right: 2px solid var(--navColor);
}
.choices h2 {
  color: var(--navColor);
  font-family: var(--font-fam);
}

.check-choice {
  display: flex;
  flex-direction: column;
}
.choice {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.choice label {
  color: var(--navColor);
  font-family: var(--font-fam);
  font-weight: bolder;
}
hr {
  width: 100%;
  border: 1.4px solid var(--navColor);
}
.popup {
  visibility: hidden;
  position: absolute;
  top: 20%;
  left: 15%;
  width: 70%;
  height: 70%;
  transition: 1ms ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.popup img {
  transition: 1ms ease-in-out !important;
  width: 40%;
  height: 60%;
}

.item-price {
  display: flex;
  flex-direction: row;
}

.no_items {
  color: var(--navColor);
  position: relative;
  width: 100%;
  justify-items: center;
  align-content: center;
}
.no_items h3 {
  font-size: 30px;
  font-family: var(--font-fam);
}

.pagination {
  position: relative;
  height: 100px;
  justify-items: center;
  align-content: center;
}
.pagination ul {
  display: flex;
  width: 50%;
  margin: 0;
  justify-content: space-around;
}
.page_pag {
  margin: 5px;
}
.page_pag a {
  text-decoration: none;
  color: var(--navColor);
  font-family: var(--font-fam);
  transition: 1s ease-in-out;
}
.page_pag a:hover {
  font-size: 20px;
}
/* Login Page */
.login {
  width: 100%;
  height: 500px;
  margin: 10px 0px;
  position: relative;
  justify-items: center;
  align-content: center;
}
.login-form {
  height: 85% !important;
  padding: 10px;
}

.register_url h5 {
  color: white;
  font-size: 15px;
  font-family: var(--font-fam);
  letter-spacing: 1.3px;
}
.register_url a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
/* Register Page */
.register-page {
  margin: 3rem 0px;
  height: 550px;
}
.contact-register {
  height: 100%;
}
.register-form {
  height: 90% !important;
  padding: 10px;
  font-family: var(--font-fam);
}
.helptext {
  display: none;
}
.register-form div {
  width: 70%;
  position: relative;
  padding: 10px;
}
.register-form input {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
}
.register-form input:focus {
  outline: none;
}
.register-form label {
  color: white;
  position: absolute;
  top: 1px;
  width: 80%;
}
.register-form button {
  width: 30%;
}
